{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ quote }}</h1>
    <p>
        {{ subQuote }}
    </p>

    {{ form_start(form) }}
    {{ form_row(form.graphicsCardModel) }}
    {{ form_row(form.manufacturer) }}

    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('pc_list') }}">Back to List</a>

{% endblock %}